{# Attach the library of css with the classes of icons to show #}
{{ attach_library('field_icons/icon_styling') }}

{% if class_icon != 'uncategorized' %}

  <div class="icon-container" style="font-size: {{ size_icon }}px;">

    <i class="{{ class_icon }}" style="color: {{ color_icon }}"></i> {{ name_icon }}
  
  </div>
  
{% endif %}    
